@font-face {
  font-family: 'Ferry Black';
  src: url('../../assets/Ferry-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.root {
  margin: 0 40px;

  .publicationSearchContainer {
    display: flex;
  }

  .paragraph {
    font-family: 'Ferry Black', sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 100px;
  }

  .slider {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 60px;
  }

  .tariffCardsContainer {
    display: flex;
    gap: 50px;
  }
}

.sliderContainerWrapper {
  position: relative;
  overflow: hidden;
  z-index: 0;

  .rightArrow {
    position: absolute;
    background-color: green;
    right: -25px;
    z-index: 1;
  }

  .sliderContainer {
    display: flex;
    //gap: 25px;
    align-items: center;

    .cardsContainer {
      display: flex;
      gap: 30px;
      width: 1260px;
      padding: 10px 10px;
    }
  }

  .sliderContainer::after {
    content: selector-append('.rightArrow');
  }
}

.getDataByInnButton,
.seeDetailsButton,
.loginButton,
.searchButton,
.showMoreButton,
.readSourceButton,
.activatedTariff,
.searchButtonActive,
{
  background-color: rgba(89, 112, 255, 1);
  color: white;
  width: 335px;
  height: 59px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  margin-top: 50px;
  cursor: pointer;
}

.getDataByInnButton a {
  color: white;
}

.seeDetailsButton,
.activatedTariff
{
  width: 355px;
  margin-left: 30px;
  margin-top: 70px;
}

.loginButton {
  width: 379px;
  opacity: 50%;
  margin-top: 35px;
  margin-bottom: 15px;

  a {
    color: white;
  }
}

.searchButton,
.searchButtonActive,
.blockedButton
{
  width: 305px;
  opacity: 50%;
}

.searchButton {
  cursor: not-allowed;
}

.searchButtonActive {
  opacity: 100%;
}

.showMoreButton {
  width: 305px;
  opacity: 100%;
}

.readSourceButton {
  background-color: rgba(124, 227, 225, 1);
  width: 223px;
  height: 47px;
  font-size: 16px;
  color: black;
}

.activatedTariff {
  background-color: rgba(210, 210, 210, 1);
  color: black;
}



