.header {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  height: 93px;
  gap: 350px;
  margin: 0 40px;
  width: 1440px;
  //padding: 0 100px;
  //box-sizing: border-box;
}

@media all and (max-width: 400px) {
  .header {
    margin: 0 10px;

     .headerLogo {
       width: 111px;
       height: 111px;
     }
  }
}