.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 93px;
  margin: 0 10px;
}

@media all and (max-width: 400px) {
  .header {
     .headerLogo {
       width: 111px;
       height: 111px;
     }
  }
}