.root {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

@media all and (max-width: 400px) {
  .root {
    width: 375px;
  }
}